@inherits LayoutComponentBase

<div class="app-layout">
    <header class="app-topbar">
        <a class="brand-link" href="/">
            <img class="brand-logo" src="images/logoAgendAI.png" alt="AgendAI" />
        </a>
        <div class="topbar-copy">
            <span class="topbar-title">AgendAI</span>
            <span class="topbar-subtitle">Agenda inteligente para atendimento com IA</span>
        </div>
    </header>

    <div class="app-body">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">x</span>
</div>
